# Reown project ID
NEXT_PUBLIC_WC_PROJECT_ID=

# JSON-RPC endpoint for Ethereum mainnet
NEXT_PUBLIC_RPC_URL=

# Morpho GraphQL API
NEXT_PUBLIC_MORPHO_API_URL=

# Vault address
NEXT_PUBLIC_VAULT_ADDRESS=

# Chain ID
NEXT_PUBLIC_CHAIN_ID=1
